*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: ;
}

.header{
    display: flex;
    color:#6E1CBC;
    display: flex;
    align-items: center;
}


.right-side-header{
    display: flex;
    align-items: center;
}

.right-side-header > img{
    padding: 5px;
}

.shop-logo{
    color:#FFCC00 ;
}