*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.header{
    display: flex;
    color:#6E1CBC;
    display: flex;
    align-items: center;
    border-bottom: #EAEAEA solid 1px;
    height: 60px;
    flex-shrink: 0;
    justify-content: space-between;
    padding: 20px;
}


.right-side-header{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.right-side-header > img{
    padding: 10px;
    height: 44px;

}

.shop-logo{
    color:#FFCC00 ;
}


.middle-section-header {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.right-side-header >button {
    background-color: #6E1CBC;
    color: #ffffff;
    padding: 5px 10px;
    border-radius: 8px;
}

.footer{
    background-color: #6E1CBC;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    
}