*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.header{
    display: flex;
    color:#6E1CBC;
    display: flex;
    align-items: center;
    border-bottom: #EAEAEA solid;
}


.right-side-header{
    display: flex;
    align-items: center;
    font-weight: 500;
}

.right-side-header > img{
    padding: 10px;
    height: 44px;

}

.shop-logo{
    color:#FFCC00 ;
}

.middle-section-header{
   padding: 10px;
}